<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client creare</title>
</head>
<body>
<p>Lalala</p>

<form method="post">
    <input type="hidden" name="idClient" value="1"/>
    <table>
        <tbody>
        <tr>
            <td>
                <label for="descriereProblema">descriereProblema</label>
                <input id="descriereProblema" name="descriereProblema" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="adresa">adresa</label>
                <input id="adresa" name="adresa" type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="idAnimal">idAnimal</label>
                <input id="idAnimal" name="idAnimal" type="number"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
